body {
    background-color: #fff;
}

.modal-open .modal {
    backdrop-filter: blur(10px);
}
.modal-xl {
    min-width: calc(100vw - 20vw);
    max-width: calc(100vw - 20vw);
    /*min-height: calc(100vh - 20vh);*/
    /*max-height: calc(100vh - 20vh);*/
}
.modal-content {
    border-radius: .5rem;
}
.modal-body {
    padding: .25rem;
}
.modal-body video {
    border-radius: .5rem;
    outline: 0;
}
.modal-body button.close {
    position: absolute;
    top: .25rem;
    right: .25rem;
    z-index: 99;
    padding: .5rem 1rem;
    font-size: 2.5rem;
    font-weight: 200;
    text-shadow: 0 0 4px #000;
    color: #fff;
}