a {
    color: #b7062b;
}
a:hover {
    color: #9a0928;
}

.btn-primary {
    border-color: #b7062b;
    color: #fff;
    background-color: #b7062b;
}
.btn-primary:hover {
    border-color: #9a0928;
    color: #fff;
    background-color: #9a0928;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    border-color: #9a0928;
    color: #fff;
    background-color: #9a0928;
}

.btn-link {
    color: #b7062b;
}
.btn-link:hover {
    color: #9a0928;
}

/* filter */
.smart-filter-slider-handle {
    border-color: #b7062b;
}
.smart-filter-popup-result a {
    color: #b7062b;
}

.product-item-image-slider-control.active,
.product-item-image-slider-control:hover {
    background-color: #b7062b;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: none;
}

/*------ contacts ----------*/
.contact_avatar{
	float:left;
}
.contact_tel:after{
	clear:both;
	display:table;
	content:'';
}
.contact_zag{
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.045em;
	color: #404040;
}
.bottom_txt_cont{
	font-size: 14px;
	line-height: 29px;
	color: #000000;
}
.a_chto{
	font-weight: bold;
	font-size: 36px;
	line-height: 49px;
	letter-spacing: -0.045em;
	color: #CDCDCD;
	margin-bottom:10px;
}
.contacts_form input{
    height: 52px;
}
.contacts_form textarea{
    height: 140px;
}
.contacts_form input,.contacts_form textarea{
	width: 100%;
    padding: 12px 24px;
    border: 1px solid transparent;
    border-radius: .5rem;
    font-size: 18px;
	line-height: 25px;
	letter-spacing: -0.045em;
	color: #6B6B6B;
    background-color: #ececec;
	
}
.contacts_form .contact_form_ok{
	background: #F8F8F8;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 15px;
	width: 367px;
	height: 52px;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	color: #000000;
}
.vot_chto{
	font-size: 18px;
	line-height: 25px;
	letter-spacing: -0.045em;
} 
.contacts_cont,.contacts_cont a{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: -0.045em;
	color: #000000;
}
.contact_info {
    margin: 40px 0 0 180px;
    height: 75px;
}
.bottom_txt_cont a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}
.bottom_txt_cont img {
    -o-object-position: center;
    object-position: center;
    -o-object-fit: contain;
    object-fit: contain;
}
/*--------- services ------------ */
.contacts_form .services_form_ok {
    background: #F8F8F8;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 10px;
    width: 140px;
    height: 37px;
    color: #000000;
}
.service_title{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	color: #000000;
}
.service_block1,.service_block2{
	background: #FBFBFB;
	box-shadow: 10px 10px 20px rgba(174, 174, 192, 0.25), inset -10px -10px 30px rgba(255, 255, 255, 0.4);
	border-radius: 25px;
}
.service_block1 p{
	width:331px;
	font-size: 13px;
	line-height: 19px;
	text-align: center;
}
.service_tel{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	color: #000000;
}
.service_btn{
	background: #F8F8F8;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 15px;
	padding: 8px 37px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	color: #000000;
}