div.news-list
{
	word-wrap: break-word;
}
.news-date-time {
	color:#486DAA;
}
.trainingNameList {
    width: 49%;
    display: inline-block;
}
.trainingDateList,.trainingAnchorList {
    width: 24%;
    display: inline-block;
}
.trainingSpoilers {
    background: #F3F3F3;
    border-radius: 5px;
    height: 72px;
    align-content: center;
	cursor:pointer;
    margin-top:22px;
}
.trainingSpoilers:hover {
	background: #E7E7E7;
}
.profAnchorList {
    display: inline-block;
    max-width: 205px;
    padding-left: 40px;
}
.blockList{
	display:flex;
	align-items:center;
}
.btn_more {
    display: inline-block;
    border: 1px solid #000000;
    color: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.045em;
    padding: 10px 30px;
    margin: auto;
}
.btn_more:hover {
	color:#ffffff;
	background:#000000;
	text-decoration:none;
}
.blockList {
    margin: 15px 0;
}
.dateSpoiler{
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: -0.045em;
}
.trainingStatus {
    padding: 0 25px;
}
.TxtRaspisanie {
    font-family: Arial;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 68px;
    letter-spacing: -0.045em;
    color: #E7E7E7;
    padding-left: 23px;
}
.col-6.blockList {
    padding: 0 0 0 75px;
}
@media screen and (max-width:991px){
	.blockList{
		width: max-content;
		margin: auto;
		display:block;
	}
	.blockList a{
		display: block;
		margin: auto;
		width: max-content;
    	margin-top: 25px;
	}
	.profAnchorList {
		display: inline-block;
		max-width: 100%;
		text-align: center;
		margin:20px 0;
		padding-left: 0;
	}
	.trainingSpoilers {
		height: 100px;
	}
}
@media screen and (min-width:991px){
	div.news-list img.preview_picture
	{
		float:left;
		margin:0 4px 6px 0;
	}
}