#catalog_nav {
  margin-top: 3rem;
  padding: 0;

  .navbar-nav {
    justify-content: space-between;
    width: 100%;
  }

  .nav-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: .5rem 2rem;
    border-radius: .5rem;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    transition: .35s ease-in-out;

    &:hover {
      background-color: #eee;
    }

    &:first-child::before {
      content: '';
      display: inline-flex;
      width: 24px;
      height: 24px;
      margin-right: 1rem;
      background-image: url(../img/svg/menubar.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}