.header {
  margin-top: 95px;

  &_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }
  
  &_column {
    max-width: 25%;
  }

  .brand img {
    max-width: 216px;
  }

  &_basket {
    min-width: 160px;
    height: 50px;
    border-radius: .5rem;
    background-color: #f9f9f9;
    box-shadow: 
      -6px -6px 16px 0 rgba(255,255,255,.5), 
      6px 6px 16px 0 rgba(32,64,94,.5);
  }
}