.header {
  margin-top: calc(40px + 3rem); // 95px;

  @media (max-width: 991.98px) {
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    background-color: #fff;
  }

  &_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }
  
  &_column {
    max-width: 25%;
  }

  .brand {
    display: inline-flex;
    align-items: center;

    img {
      max-width: 216px;
    }
  }

  &_search {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    input[type="search"] {
      min-width: 100%;
      height: 40px;
      padding: 12px 24px;
      border: 1px solid transparent;
      border-radius: .5rem;
      color: #989898;
      font-size: 12px;
      background-color: #ececec;

      @media (max-width: 991.98px) {
        height: 50px;
        background-color: #f9f9f9;
        box-shadow: -6px -6px 16px 0 rgba(255,255,255,.5), 6px 6px 16px 0 rgba(32,64,94,.5);
      }
    }
  }

  &_info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

    a {
      color: #000;
      font-weight: bold;
    }
  }

  &_basket {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    padding: .5rem;
    border-radius: .5rem;
    background-color: #f9f9f9;
    box-shadow: 
      -6px -6px 16px 0 rgba(255,255,255,.5), 
      6px 6px 16px 0 rgba(32,64,94,.5);

    a {
      position: relative;
      margin: .5rem;
      padding: .25rem;
      border-radius: .5rem;
    }

    sup {
      position: absolute;
      top: 0;
      right: -4px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      min-width: 15px;
      min-height: 15px;
      padding: 2px 5px;
      border-radius: .25rem;
      color: #fff;
      font-size: 9px;
      line-height: 1;
      background-color: #ff6a6a;
    }
  }
}