.materials {

	&__headline {
		margin-bottom: 3rem;
		color: #17141a;
		font-family: Arial, sans-serif;
		font-size: 24px;
		font-weight: 900;
		letter-spacing: -.045em;
	}

	&__card {
		display: flex;
		justify-content: space-between;
		width: 100%;
		min-height: 150px;
		margin-bottom: 1rem;
		padding: 15px;
		border-radius: .25rem;
		font-size: 12px;
		letter-spacing: -.045em;
		background: #fff;
		box-shadow: 0 5px 15px rgba(0,0,0,.04);

		&-img {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-left: 2rem;
			img	{
				width: 100%;
				max-width: 88px;
				height: 100%;
				max-height: 88px;
				object-fit: contain;
				object-position: center;
			}
		}
		&-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&-title {
			margin-bottom: 12px;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: -.045em;
		}
		&-buttons {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			button {
				display: flex;
    		justify-content: center;
    		align-items: center;
				min-width: 100px;
				height: 30px;
				border: 1px solid transparent;
				border-radius: .25rem;
				color: #000;
				font-size: 12px;
				font-weight: bold;
				letter-spacing: -.045em;
				background-color: #f5f5f5;
				&:last-child {
					&::after {
						content: '';
						display: inline-block;
						width: 100%;
						max-width: 15px;
						height: 100%;
						max-height: 15px;
						margin-left: 4px;
						background-image: url(/local/templates/main/img/svg/basket.svg);
						background-position: center;
						background-repeat: no-repeat;
						background-size: contain;
					}
				}
			}
		}
	}
}