.slider {

  &__video {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    line-height: 1rem;
    a {
      color: #d02146;
      font-size: 12px;
    }
    img {
      margin-left: .25rem;
    }
  }

  &__headline {
    margin-bottom: 1rem;
    color: #282828;
    font-family: Arial, sans-serif;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: -.045em;
    line-height: 1;
    span {
      font-size: 3rem;
    }
  }
  
  &__lead {
    margin-bottom: .5rem;
    color: #1e1e1e;
    font-size: 12px;
    line-height: 1.75;
  }

  &__brands {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    img {
      max-width: 100px;
      opacity: 40%;
      filter: grayscale(1);
      &:hover {
        opacity: 100%;
        filter: grayscale(0);
      }
    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    min-height: 450px;
    border-radius: 1.5rem;
    font-size: 18px;
    text-align: center;
    background: #fff;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
  }
}